<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<!--header fragment-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"th:href="@{/articles/paging}">list</a>
                    </li>

                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        관리자 권한이 있습니다
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('USER')">
                        사용자 권한이 있습니다
                    </li>

                </ul>
            </div>
            <div class="text-end">
                <a role="button" id="signup" th:href="@{/user/signup}"
                   sec:authorize="isAnonymous()" class="btn_no1"> 회원가입 </a>
                <a role="button" id="login"   th:href="@{/user/login}"
                   sec:authorize="isAnonymous()" class="btn_no1"> 로그인 </a>
                <a role="button" id="logout"  th:href="@{/logout}"
                   sec:authorize="isAuthenticated()" class="btn_no1"> 로그아웃 </a>
            </div>
        </div>
    </nav>

</div>

</html>