<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="content">

    <table class="table">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
        </tr>
        <tr th:each="article:${paging}" th:object="${article}" >
            <td th:text="*{id}">ID</td>
            <td>
                <a th:href="@{/articles/showOne(selectId=*{id})}" th:text="*{title}"></a>

            </td>
            <td th:text="*{content}">내용 1</td>
        </tr>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${paging.number}<= 0 ? 'disabled' ">
                <a class="page-link" th:href="@{/articles/paging(page=${paging.number-1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="pageNumber : ${pageBarNum}">
                <li class="page-item"><a class="page-link" th:href="@{/articles/paging(page=${pageNumber})}"
                                         th:text="${pageNumber+1}">1</a></li>
            </th:block>

            <li class="page-item"  th:classappend="${paging.number} == ${paging.totalPages-1} ? 'disabled'">
                <a class="page-link"  th:href="@{/articles/paging(page=${paging.number+1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>

                </a>
            </li>
        </ul>
    </nav>
</div>
</body>

</html>